
 
.subpie {   background:#01578E;#1B5E85;color:#fff; }
.subpie .subpie_p {  height:300px;}

 .subpie a{  color:#fff; text-decoration:none }
  .subpie h2{  font-size: 18px; }

.transition, p, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out;
}

.flipIn, h1, ul li {
  animation: flipdown 0.5s ease both;
}

.no-select, h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
 
 
.lili{width:350px}
@media (max-width: 550px) { 
 .lili{width:100%}
 
	ul.subpie_p{ width:100%}
	.subpie h1, h2 {	  color: #fff;#ff6873;	}
	.subpie  h2 {
	  font-size: 20px;
	  line-height: 34px;
	  font-weight: 300;
	  letter-spacing: 1px;
	  display: block;
	  background-color_: #fefffa;
	  margin: 0;
	  cursor: pointer;
	}
	.subpie p {
	  color: rgba(48, 69, 92, 0.8);
	  font-size: 17px;
	  line-height: 26px;
	  letter-spacing: 1px;
	  position: relative;
	  overflow: hidden;
	  max-height: 800px;
	  opacity: 1;
	  transform: translate(0, 0);
	  margin-top: 14px;
	  z-index: 2;
	}
}
.subpie ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
.subpie ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px dotted #dce7eb;
}
.subpie ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
.subpie ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
.subpie ul li:nth-of-type(3) {
  animation-delay: 1s;
}
.subpie ul li:last-of-type {
  padding-bottom: 0;
}
.subpie ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}

@media (max-width: 550px) { 
	.subpie ul li i:before, ul li i:after {
	  /* content: ""; */
	  position: absolute;
	  background-color: #fff;
	  width: 3px;
	  height: 9px;
	}
	.subpie ul li i:before {
	  transform: translate(-2px, 0) rotate(45deg);
	}
	.subpie ul li i:after {
	  transform: translate(2px, 0) rotate(-45deg);
	}
}

.subpie ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.blok { display : none}
@media (max-width: 550px) { 
	.subpie ul li input[type=checkbox]:checked ~ p {
	  margin-top: 0;
	  max-height: 0;
	  opacity: 0;
	  transform: translate(0, 50%);
	}
	.subpie ul li input[type=checkbox]:checked ~ i:before {
	  transform: translate(2px, 0) rotate(45deg);
	}
	.subpie ul li input[type=checkbox]:checked ~ i:after {
	  transform: translate(-2px, 0) rotate(-45deg);
	}

	@keyframes flipdown {
	  0% {
		opacity: 0;
		transform-origin: top center;
		transform: rotateX(-90deg);
	  }
	  5% {
		opacity: 1;
	  }
	  80% {
		transform: rotateX(8deg);
	  }
	  83% {
		transform: rotateX(6deg);
	  }
	  92% {
		transform: rotateX(-3deg);
	  }
	  100% {
		transform-origin: top center;
		transform: rotateX(0deg);
	  }
	}
	
	
.blok { display : block}	
}
  
  
  
  
  
  
  
      
