/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #e6e5e5;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: #b1afaf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #c0bfbf;
}
/* Copyright 2016 */

/*=====================================================
					Tipografia
navBar
======================================================*/

@font-face {
	font-family: "RobotoCondensedLight";
	src: url("../fonts/robotocondensed-light.eot"),
		url("../fonts/robotocondensed-light.woff"),
		url("../fonts/robotocondensed-light.woff2"),
		url("../fonts/robotocondensed-light.svg");
}
@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/roboto-regular.ttf"), url("../fonts/roboto-regular.eot"),
		url("../fonts/roboto-regular.woff"), url("../fonts/roboto-regular.woff2"),
		url("../fonts/roboto-regular.svg");
}
@font-face {
	font-family: "OswaldLight";
	src: url("../fonts/oswald-light.eot"), url("../fonts/oswald-light.woff"),
		url("../fonts/oswald-light.woff2"), url("../fonts/oswald-light.svg");
}
/*=====================================================
					Estilos generales
======================================================*/
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "RobotoRegular";
	position: relative;
	background-color: #fff;
}

.text-condensedLight {
	font-family: "RobotoCondensedLight";
}
.text-center {
	text-align: center;
}
.tittles {
	font-family: "OswaldLight";
}
.mdl-textfield {
	width: 100%;
}
.full-width {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}

.list-unstyle {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

.img-responsive {
	width: 100%;
	height: auto;
}

.divider-menu-h {
	height: 0 !important;
	border-top: 1px solid #e1e1e1;
	width: 92% !important;
	margin: 0 auto !important;
}

.cover {
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	/*background-image: url(../assets/img/fontLogin.jpg);*/
}

.mdl-list__item-avatar {
	line-height: 40px;
	text-align: center;
	font-size: 30px;
}

.table-responsive {
	width: 100%;
	overflow-x: scroll;
	position: relative;
}

/*====== paneles*/
.panel {
	height: auto;
}
.panel-tittle {
	height: 45px;
	display: block;
	line-height: 45px;
	color: #fff;
	font-size: 20px;
}

.panel-content {
	display: block;
	padding: 10px;
}

/*====== encabezados de paginas*/
.header-well,
.header-well-icon,
.header-well-text {
	min-height: 150px;
	height: auto;
}

.header-well {
	position: relative;
}

.header-well-icon,
.header-well-text {
	position: absolute;
	top: 0;
	color: #333;
}

.header-well-icon {
	left: 0;
	width: 25%;
}

.header-well-icon i,
.header-well-text p {
	position: absolute;
	top: 50%;
	display: block;
	width: 100%;
	transform: translateY(-50%);
}

.header-well-icon i {
	text-align: center;
	font-size: 60px;
}

.header-well-text {
	right: 0;
	width: 75%;
}

.header-well-text p {
	font-size: 20px;
	margin: 0;
	padding: 0;
}

/*====== Area de notificacion*/

.container-notifications {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
	z-index: 997;
}

.container-notifications-bg {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.container-notifications-show {
	pointer-events: auto;
	opacity: 1;
}

.NotificationArea {
	box-sizing: border-box;
	background-color: #fff;
	height: 100%;
	width: 300px;
	top: 0;
	z-index: 999;
	right: -300px;
	transition: all 0.3s ease-in-out;
	position: absolute;
}

.NotificationArea-title {
	font-size: 21px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	background-color: #009bdc;
	box-sizing: border-box;
}

.NotificationArea-title i {
	position: absolute;
	top: 0;
	right: 0;
	height: 45px;
	width: 45px;
	line-height: 45px;
	font-size: 25px;
	cursor: pointer;
}

.Notification,
.Notification-icon,
.Notification-text {
	margin: 0;
	padding: 0;
	height: 80px;
	box-sizing: border-box;
}

.Notification {
	position: relative;
	display: block;
	width: 300px;
	border-top: 1px solid #f3f3f3;
	color: #2b2b2c;
	font-size: 14px;
	transition: all 0.3s ease-in-out;
}

.Notification:hover {
	background-color: rgba(0, 0, 0, 0.07);
}

.Notification small {
	color: #bdbdbd;
}

.Notification-icon,
.Notification-text {
	position: absolute;
	top: 0;
}

.Notification-icon {
	width: 80px;
	left: 0;
	box-sizing: border-box;
}

.Notification-icon i {
	height: 50px;
	width: 50px;
	line-height: 50px;
	margin-left: 15px;
	margin-top: 15px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	background-color: #d9534f;
	border-radius: 50%;
}

.Notification-text {
	width: 220px;
	right: 0;
}

.Notification-text p {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.NotificationArea-show {
	right: 0;
}

/*====== Backgrouns color*/
.bg-primary {
	background-color: #2e6da4 !important;
}

.bg-success {
	background-color: #3f903f !important;
}

.bg-danger {
	background-color: #d9534f !important;
}

.bg-info {
	background-color: #5bc0de !important;
}

/*=============Estilos login*/
/*.container-login{
	width: 300px;
	box-sizing: border-box;
	height: auto;
	margin: 0;
	padding: 20px;
	background-color: rgba(255,255,255,.9);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	color: #3F51B5;
}*/

.container-login {
	position: absolute;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 300px;
	padding: 15px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
	border-radius: 25px 25px 25px 25px;
	/*background-color: rgba(0, 0, 0, .7);*/
	border: 1px solid #009bdc;
}

.container-login p,
.container-login label {
	color: #fff;
}

/*=============Estilos barra superior*/
.navBar {
	/* RROJAS -- > CAMBIO DE COLOR DE FONDO 
	_background-color: #276873;*/
	background-color: #009bdc;
	height: 45px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 79;
	color: #fff;
}

.navBar-options {
	line-height: 45px;
	height: 45px;
	position: fixed;
	width: 80%;
	top: 0;
	right: 0;
	padding: 0;
	transition: all 0.3s ease-in-out;
}

.navBar-options-change {
	width: 100%;
}

.navBar-options .zmdi-more-vert,
.navBar-options-list {
	line-height: 45px;
	position: absolute;
	top: 0;
	height: 45px;
	margin: 0;
	padding: 0;
}

.navBar-options .zmdi-more-vert {
	width: 40px;
	left: 0;
	font-size: 23px;
	cursor: pointer;
	user-select: none;
	text-align: center;
	outline: none;
	margin-left: 9px;
}

.navBar-options-list {
	right: 9px;
}

.navBar-options-list .noLink {
	cursor: inherit !important;
}

.navBar-options-list ul {
	height: 45px;
}

.navBar-options-list ul li {
	height: 45px;
	line-height: 45px;
	cursor: pointer;
	display: inline-block;
	padding: 0 7px;
	font-size: 21px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.navBar-options-list ul li {
	outline: none;
}
.navBar-options-list ul li figure,
.navBar-options-list ul li figure img {
	margin: 0;
	padding: 0;
	padding-top: 0;
	margin-top: 0;
	box-sizing: border-box;
}

.navBar-options-list ul li figure {
	height: 45px;
}

.navBar-options-list ul li figure img {
	border: 1px solid #e1e1e1;
	border-radius: 50%;
	width: 39px;
	height: 39px;
	margin-bottom: 3px;
}

.navBar-options-list ul li i.zmdi-notifications-active {
	color: #e6f527;
}

/*=============Estilos en comun navegacion lateral y contenido pagina*/
.navLateral,
.pageContent,
.navLateral-body,
.navLateral-bg {
	position: absolute;
	top: 0;
	height: 100%;
}

/*=============Estilos navegacion lateral*/
.navLateral {
	left: 0;
	width: 20%;
	z-index: 80;
	/*box-shadow: 0 0px 15px rgba(0,0,0,.4);*/
	border-right: 1px solid #e1e1e1;
	transition: all 0.3s ease-in-out;
	position: fixed;
}

.navLateral-change {
	pointer-events: none;
	opacity: 0;
	width: 0;
}

.navLateral-body {
	background-color: #fff;
	z-index: 82;
	left: 0;
	padding-bottom: 30px;
}

.navLateral-body-logo {
	height: 45px;
	line-height: 45px;
	color: #fff;
	width: 100%;
	font-size: 25px;
	/* RROJAS --> SE CAMBIO COLOR DE FONDO 
	background-color: #276873;*/
	background-color: #009bdc;
}

.navLateral-body-logo .zmdi-close {
	width: 0;
	height: 0;
	pointer-events: none;
	opacity: 0;
}

.navLateral-body-cl,
.navLateral-body-cr {
	box-sizing: border-box;
	height: 77px;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
}

.navLateral-body-cl {
	width: 30%;
}

.navLateral-body-cl img {
	width: 57px;
	height: 57px;
	margin: 0 auto;
	display: block;
	margin-top: 10px;
}

.navLateral-body-cr {
	width: 70%;
	font-family: "RobotoCondensedLight";
}

.navLateral-body-cr span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 100%;
}

.navLateral-body-tittle-menu {
	height: 70px;
	line-height: 70px;
	font-size: 20px;
	background-color: #f5f5f5;
	text-align: center;
}

.menu-principal li,
.menu-principal li a {
	display: block;
}

.menu-principal li a {
	height: 45px;
	color: #333;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.menu-principal li a:hover {
	color: #009bdc;
}

.menu-principal li a div.navLateral-body-cl,
.menu-principal li a div.navLateral-body-cr {
	height: 45px;
	line-height: 45px;
}

.menu-principal li a div.navLateral-body-cl {
	text-align: center;
	font-size: 20px;
}

.btn-subMenu span {
	position: absolute;
	top: 0;
	right: 7px;
	line-height: 45px;
	height: 45px;
	font-size: 19px;
}

.btn {
	border: none;
	border-radius: 2px;
	position: relative;
	padding: 8px 30px;
	margin: 10px 1px;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0;
	will-change: box-shadow, transform;
	-webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
		background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
		color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
		background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
		color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
		background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
		color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	outline: 0;
	cursor: pointer;
	text-decoration: none;
	background: 0 0;
	background-color: #f44336;
	color: rgba(255, 255, 255, 0.84);
}

.btnlogin {
	border: none;
	color: #009bdc;
	background-color: rgba(255, 255, 255, 1);
	font-size: 14px;
	font-weight: bold;
}

.olvide {
	font-size: 12px;
	color: rgb(127, 127, 127);
}

.sub-menu-options {
	height: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: #f5f5f5;
	transition: all 0.3s ease-in-out;
}

.sub-menu-options li a {
	border-left: 3px solid transparent;
}

.sub-menu-options li a:hover {
	border-left: 3px solid #009bdc;
}

.sub-menu-options-show {
	height: auto !important;
	overflow-y: auto !important;
	overflow-x: hidden;
}

/*=============Estilos contenido pagina*/

.pageContent {
	padding-top: 45px;
	right: 0;
	width: 80%;
	z-index: 77;
	background-color: #fff;
	transition: all 0.3s ease-in-out;
}

.pageContent-change {
	width: 100%;
}

/*=====================================================

					Estilos home

======================================================*/

/*=============Azulejos o accesos directos(Tiles)*/

.tile {
	border: 1px solid #e1e1e1;
	height: 140px;
	width: 30%;
	margin: 0 1%;
	position: relative;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 20px;
	display: inline-block;
}

.tile:hover .tile-text span {
	color: #009bdc;
}

.tile:hover .tile-icon {
	color: rgba(0, 191, 238, 0.3);
	transform: scale(1.5) translate(-10px, -10px);
}

.tile-text {
	display: block;
	height: 140px;
	width: 100%;
	box-sizing: border-box;
}

.tile-text span,
.tile-icon {
	position: absolute;
	color: rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease-in-out;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.tile-text span {
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	display: block;
	font-size: 27px;
	z-index: 2;
}

.tile-icon {
	bottom: 9px;
	right: 4px;
	font-size: 90px;
	line-height: 67px;
	z-index: 1;
}

/*=============Linea de tiempo (TimeLine)*/

.timeline-c {
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;
	box-sizing: border-box;
}

.timeline-c::after {
	content: "";
	display: table;
	clear: both;
}

#timeline-c {
	position: relative;
	padding: 2em 0;
	margin-top: 2em;
	margin-bottom: 2em;
}

#timeline-c::before {
	content: "";
	position: absolute;
	top: 0;
	left: 18px;
	height: 100%;
	width: 4px;
	background-color: #009bdc;
}

.timeline-c-box {
	position: relative;
	margin: 2em 0;
}

.timeline-c-box::after {
	content: "";
	display: table;
	clear: both;
}

.timeline-c-box:first-child {
	margin-top: 0;
}

.timeline-c-box:last-child {
	margin-bottom: 0;
}

.timeline-c-box-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 3px solid #fff;
	background-color: #009bdc;
}

.timeline-c-box-icon i {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 25px;
	text-align: center;
	position: relative;
}

.timeline-c-box-content {
	position: relative;
	margin-left: 60px;
	border-radius: 0.25em;
	padding: 1em;
	background-color: #fff;
	color: #333;
	border: 1px solid #e1e1e1;
	box-sizing: border-box;
	border-radius: 5px;
}

.timeline-c-box-content::after {
	content: "";
	display: table;
	clear: both;
}

.timeline-c-box-content::before {
	content: "";
	position: absolute;
	top: 16px;
	right: 100%;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-right: 9px solid #e1e1e1;
}

.timeline-c-box-content .timeline-date {
	display: inline-block;
	color: rgb(119, 119, 119);
}

.timeline-c-box-content p {
	margin: 1em 0;
	line-height: 1.6;
}

.timeline-c-box-content .timeline-date {
	float: left;
	padding: 0.8em 0;
}

/*=====================================================

					Estilos products

======================================================*/

.menu-categories ul li {
	display: inline-block;
	margin: 5px 7px;
}

.menu-categories ul li a {
	text-decoration: none;
	font-size: 19px;
	font-family: "RobotoCondensedLight";
}

.product-card {
	display: inline-block;
	margin: 5px;
	width: 300px;
	text-align: left;
}

.product-card .mdl-card__actions button,
.product-card .mdl-card__actions a {
	float: right;
}
/*=====================================================

					Estilos Notificaciones

======================================================*/
.NotificationArea {
	overflow-y: auto; /* Activa el scroll vertical */
}

.vertical {
	width: 95%;
	overflow-y: auto;
	background-color: #f9f9f9;
	border-radius: 8px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	padding: 5px;
}

.vertical form {
	display: block;
}

.vertical button {
	width: 100%;
	text-align: left;
	color: black;
	display: flex;
	align-items: center;
	padding: 10px;
	font-size: 14px;
	font-weight: 700;
	border: none;
	cursor: pointer;
	border-radius: 6px;
	transition: background 0.3s;
}

/* Contenedor de texto */
.vertical .button-content {
	display: flex;
	flex-direction: column;
}

/* Primera línea: Descripción */
.vertical .description {
	font-weight: bold;
	font-size: 14px;
}

/* Segunda línea: Fecha y hora */
.vertical .date {
	font-size: 12px;
	color: gray;
	margin-top: 2px;
}

/* Estilos para estados (nuevo o leído) */
.vertical .new {
	background-color: rgba(0, 155, 220, 0.3);
}

.vertical .read {
	background-color: rgba(200, 200, 200, 0.5);
}

/* Efecto hover */
.vertical button:hover {
	background-color: rgba(0, 155, 220, 0.5);
}

/* Notificación activa */
.vertical button.active {
	background-color: #04aa6d;
	color: white;
}

/* Iconos de notificación */
.vertical .icon {
	margin-right: 10px;
	font-size: 16px;
}

.vertical .new .icon::before {
	content: "🔵"; /* Notificación nueva */
}

.vertical .read .icon::before {
	content: "⚪"; /* Notificación leída */
}

/*menu vertical*/
/*=====================================================

			Estilos Control de Vigilancia

======================================================*/
/*CAMPO BUSCAR CONTROL DE VIGILANCIA*/
.controlTitle {
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 15px;
	letter-spacing: 1px;
}
#formbuscar {
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	width: 95%;
	margin: 0 auto;
	box-sizing: border-box;
}

.form-group {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-wrap: wrap;
}

#cotiza {
	flex: 1;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	min-width: 240px;
	max-width: 250px;
	box-sizing: border-box;
}

.btn2 {
	background-color: #009bdc;
	color: white;
	border: none;
	padding: 15px;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	max-width: 150px;
}

.btn2:hover {
	background-color: #0056b3;
}

#conte_general {
	width: 95%;
	max-width: 1000px;
	margin: 10px auto;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	overflow-x: auto;
	transition: all 0.3s ease-in-out;
}

/* RECIBO PAGO */
#formrecibo {
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	width: 95%;
	margin: 0 auto;
	box-sizing: border-box;
	max-width: 600px;
	margin-bottom: 50px;
}

.form-recibo {
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
	align-items: center;
}

.form-recibo label {
	min-width: 200px;
	max-width: 200px;
	text-align: left;
	margin-bottom: 0;
}

.form-recibo textarea,
.form-recibo input,
.form-recibo select {
	width: 100%;
	padding: 8px;
	background-color: #e9ecef;
	border: 1px solid #ccc;
	border-radius: 5px;
	appearance: none;
}

.form-recibo select {
	cursor: pointer;
}

/* Aplica el borde rojo a los campos vacíos */
.form-recibo input:required,
.form-recibo select:required {
	border-left: 5px solid red; /* Barra roja en el lado izquierdo */
	transition: border-left 0.3s ease-in-out;
}

/* Quita la barra roja cuando el campo tiene contenido */
.form-recibo input:valid,
.form-recibo select:valid,
.form-recibo textarea:valid {
	border-left: 5px solid green;
	transition: border-left 0.3s ease-in-out;
}

#fechaHoraTexto {
	display: inline-block;
	width: 100%;
	padding: 8px;
	background-color: #e9ecef;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	text-align: left;
	height: 20px;
	cursor: not-allowed;
}

.importe {
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
}

#cbmoneda {
	width: 30%;
	padding: 8px;
	background: #e9ecef;
	border-right: 1px solid #ccc;
	text-align: center;
	height: 40px;
}

#importe {
	width: 70%;
	padding: 8px;
	height: 40px;
	box-sizing: border-box;
}

/* Botones */
.form-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	flex-wrap: wrap;
	margin-top: 20px;
}

.btn2:disabled {
	background: #6c757d;
	cursor: not-allowed;
}

#respuesta {
	display: none;
	width: 95%;
	max-width: 580px;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	margin: 20px auto;
	border-radius: 5px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* REGISTRADO */
.success {
	background-color: #28a745;
	display: block;
}

/* ERROR AL REGISTRAR */
.error {
	background-color: #dc3545;
	display: block;
}

/* 📌 NOTA: SALIDA TIENDA  */
.stForm-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 22px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	flex-wrap: wrap;
}

.stForm label {
	font-weight: bold;
	display: block;
	margin-bottom: 1px;
}

.stForm input[type="text"],
.stForm input[type="date"],
.form-group input[type="date"] {
	text-align: center;
	height: 30px;
	display: block;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 8px;
	font-size: 14px;
	pointer-events: auto;
	position: relative;
	z-index: 2;
}
.stForm input[type="text"] {
	width: 250px;
}
.stForm input[type="date"] {
	width: 90%;
}

.buttons {
	display: flex;
	gap: 10px;
	margin-top: 20px;
}
.stTitle {
	margin-top: 20px;
}
.fila-click {
	cursor: pointer;
}

/* 📌 NOTA: DETALLE SALIDA TIENDA */
.stForm-det {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	margin: auto;
	margin-bottom: 20px;
}

.stHead {
	display: flex;
	gap: 30px;
}

.stTransfer {
	display: flex;
	justify-content: center;
	gap: 80px;
	flex-wrap: wrap;
	width: 100%;
	padding-bottom: 15px;
}
.stFila {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.stSection h5 {
	margin-bottom: 5px;
}

.stSection input[type="text"] {
	margin-top: 5px;
	padding: 8px 12px;
	border: 1px solid #ccc;
	border-radius: 8px;
	font-size: 14px;
	background-color: #f9f9f9;
	text-align: center;
	width: 80%;
}

.stAlmacen {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}
.stAlmacen label {
	font-weight: bolder;
}
.stDestino {
	font-size: 32px;
	align-self: center;
}

.stHead input[type="date"],
.stHead select,
.stAlmacen select {
	text-align: center;
	height: 40px;
	margin-top: 5px;
	padding: 8px 12px;
	border: 1px solid #ccc;
	border-radius: 8px;
	font-size: 14px;
	background-color: #f9f9f9;
}

.stHead select,
.stAlmacen select {
	width: 100%;
}

.stHead input[type="date"] {
	height: 20px;
}
.stRollos {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stRollos label {
	font-weight: bolder;
}

.stRollos input[type="text"] {
	margin-top: 5px;
	padding: 8px 12px;
	border: 1px solid #ccc;
	border-radius: 8px;
	font-size: 14px;
	background-color: #f9f9f9;
	width: 100%;
}

#codbarra {
	height: 25px;
	min-width: 230px;
	text-align: center;
}

#btnEliminar {
	display: flex;
	justify-content: center;
}

.buttons-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
}

/* 📌 NOTA: Reporte Vigilancia  */
.plSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 15px 0 10px 0;
	gap: 10px;
}

.plSection input[type="text"] {
	margin-top: 5px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 8px;
	font-size: 14px;
	background-color: #f9f9f9;
	text-align: center;
	width: 80%;
}

.cliente-box {
	min-width: 300px;
}

#totales-contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	font-size: 16px;
	gap: 25px;
}
/*=====================================================

					Media  Queries

======================================================*/

/*Phone*/

@media (max-width: 479px) {
	.hide-on-phone {
		width: 0;
		height: 0;
		pointer-events: none;
		opacity: 0;
	}

	.visible-on-phone {
		pointer-events: auto;
		opacity: 1;
	}

	.visible-on-tablet,
	.visible-on-desktop {
		pointer-events: none;
		opacity: 0;
		width: 0;
		height: 0;
	}

	.header-well-icon,
	.header-well-text {
		position: relative;
		display: block;
		width: 100%;
		text-align: center;
	}

	.navBar-options {
		width: 100%;
	}

	.navLateral {
		width: 100%;
		position: fixed;
		pointer-events: none;
		opacity: 0;
	}

	.navLateral-bg {
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 81;
	}

	.navLateral-body {
		width: 300px;
	}

	.navLateral-body-logo .zmdi-close {
		position: absolute;
		top: 0;
		left: 11px;
		padding: 0 9px;
		cursor: pointer;
		height: 45px;
		line-height: 45px;
		pointer-events: auto;
		opacity: 1;
	}

	.navLateral-change {
		pointer-events: auto;
		opacity: 1;
	}

	.pageContent {
		width: 100%;
	}

	.tile {
		width: 97%;
	}

	.product-card {
		width: 100%;
		margin: 0;
	}

	.form-group {
		flex-direction: row;
		align-items: center;
		text-align: center;
	}

	#cotiza,
	.btn2 {
		width: 90%;
		max-width: 100px;
	}
	.controlTitle {
		font-size: 20px;
	}
	.form-recibo {
		flex-direction: row;
		align-items: center;
	}
	.form-recibo label {
		min-width: 100px;
		max-width: 100px;
	}
	.form-recibo select,
	.form-recibo input {
		width: 80%;
	}
	.stTransfer {
		flex-direction: column;
		align-items: center;
		gap: 5px;
	}

	.stDestino {
		display: none;
	}

	.stForm-det {
		padding: 0 0 20px 0;
	}

	/* TABLA */
	.table-responsive {
		display: block;
		width: 100%;
		overflow-x: auto;
	}

	/* Oculta los encabezados en móvil */
	#detalle-rollos thead {
		display: none;
	}

	/* Estilo para las filas en móvil */
	.data-row tr {
		display: block;
		margin-bottom: 1rem;
		border: 1px solid #ddd;
	}

	/* Estilo para las celdas en móvil */
	.mobile-view {
		display: block;
		text-align: right;
		padding: 8px;
		position: relative;
	}

	/* Data-labels en móvil */
	.mobile-view:before {
		content: attr(data-label);
		position: absolute;
		left: 8px;
		top: 8px;
		font-weight: bold;
		text-align: left;
	}

	/* Ajustes para inputs en móvil */
	.mobile-view input {
		width: 60% !important;
		float: right;
	}

	#totalTbl {
		display: none;
	}

	.plSection input[type="text"] {
		min-width: 300px;
	}
}

/*Tablet*/

@media (min-width: 480px) and (max-width: 839px) {
	.hide-on-tablet {
		width: 0;
		height: 0;
		pointer-events: none;
		opacity: 0;
	}

	.visible-on-tablet {
		pointer-events: auto;
		opacity: 1;
	}

	.visible-on-desktop,
	.visible-on-phone {
		pointer-events: none;
		opacity: 0;
		width: 0;
		height: 0;
	}

	.navLateral-body-cl {
		width: 100%;
	}

	.navLateral-body-tittle-menu i {
		display: block;
		line-height: 70px;
		font-size: 27px;
	}

	.tile {
		width: 47%;
	}
	.form-recibo label {
		min-width: 150px;
		max-width: 150px;
	}
	.stForm-det {
		padding: 0;
	}
	.stDestino {
		display: none;
	}
	.stTransfer {
		gap: 5px;
	}
}

/*Desktop*/

@media (min-width: 840px) {
	.hide-on-desktop {
		width: 0;
		height: 0;
		pointer-events: none;
		opacity: 0;
	}

	.visible-on-desktop {
		pointer-events: auto;
		opacity: 1;
	}

	.visible-on-tablet,
	.visible-on-phone {
		pointer-events: none;
		opacity: 0;
		width: 0;
		height: 0;
	}

	/*======= Estilos linea de tiempo (TimeLine) en desktop*/

	#timeline-c {
		margin-top: 3em;
		margin-bottom: 3em;
	}

	#timeline-c::before {
		left: 50%;
		margin-left: -2px;
	}

	.timeline-c-box {
		margin: 4em 0;
	}

	.timeline-c-box:first-child {
		margin-top: 0;
	}

	.timeline-c-box:last-child {
		margin-bottom: 0;
	}

	.timeline-c-box-icon {
		left: 50%;
		margin-left: -23px;
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
	}

	.timeline-c-box-content {
		margin-left: 0;
		width: 45%;
	}

	.timeline-c-box-content::before {
		top: 24px;
		left: 100%;
		border-color: transparent;
		border-left-color: #e1e1e1;
	}

	.timeline-c-box-content .timeline-date {
		position: absolute;
		width: 100%;
		left: 122%;
		top: 6px;
	}

	.timeline-c-box:nth-child(even) .timeline-c-box-content {
		float: right;
	}

	.timeline-c-box:nth-child(even) .timeline-c-box-content::before {
		top: 24px;
		left: auto;
		right: 100%;
		border-color: transparent;
		border-right-color: #e1e1e1;
	}

	.timeline-c-box:nth-child(even) .timeline-c-box-content .timeline-date {
		left: auto;
		right: 122%;
		text-align: right;
	}
}
